<div class="container">
  <div class="card shadow mb-4">                   
    <div class="card-body"> 
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Type</th>
            <th>Date de sortie</th>
            <th>Catégorie</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          @for (chanson of chansons; track chanson.idChanson)
          {
            <tr>
              <td>{{ chanson.idChanson }}</td>
              <td>{{ chanson.titreChanson }}</td>
              <td>{{ chanson.type }}</td>
              <td>{{ chanson.dateSortie | date:'dd/MM/yyyy' }}</td>

              @if (chanson.categorie) {
                <td>{{ chanson.categorie.nomCat }}</td>
              }
              @else {
                <td>PAS DE CATEGORIE</td>
              }

              <td>
                <a class="btn btn-danger" (click)="supprimerChanson(chanson)">Supprimer</a>
                <a class="btn btn-success" [routerLink]="['/updateChanson', chanson.idChanson]">Modifier</a>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
